body {
    margin: 0;
    padding: 50px;
    border: 20px solid rgba(255, 255, 255, 0.5);
    background: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXk3Nm9pZ3pxNXhoYm9mamI3cTBxNmF6emZjOXN6NzhxMXNiM2R0YyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/qcMPqPnwR69FfbAqUk/giphy.gif) center/cover;
    background-clip: content-box;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: black;
    text-shadow: 2px 2px 4px #000;
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: scale-down;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}
.prev, .next {
    position: right;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
}

.active {
    background: #717171;
}

.caption {
    font-size: 24px;
    color: ghostwhite;
    background-color: rgb(0, 0, 0);
    
}